@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('./SourceSansPro-SemiBold.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('./SourceSansPro-Regular.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('./OpenSans-Italic.ttf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('./SourceSansPro-Light.ttf') format('opentype');
  font-display: swap;
}