<footer class="navbar custom-footer fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="/assets/img/logo_alpesdental_footer_001.png" height="35"
        alt="Alpes Dental Logo"
      />
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <span class="navbar-text text-align-end">Nuestras Redes Sociales </span>
        <a href="https://www.instagram.com/alpesdental" target="_blank"><img class="footer-img" src="/assets/icons/Instagram.png" alt="" /></a>
        <a href="https://www.linkedin.com/company/cl%C3%ADnicas-odontol%C3%B3gicas-alpes-dental/" target="_blank"><img class="footer-img" src="/assets/icons/Linkedin.png" alt="" /></a>
      </li>
    </ul>
  </div>
</footer>
